* {
  box-sizing: border-box;
}

html {
  font-family: Verdana,Arial;
  font-size: 12px;
}

body {
  padding: 0em;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  padding: 0;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
}

.aside-1 {
  text-align: left;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 7 0px; }
  .aside   { flex: 1 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  font-weight:
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #0091c2;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.checkbox, .radio {
  position: relative;
  display: block;
  margin: 10px;
  margin-bottom: 10px;
}

.form {
  display: block;
  margin-top: 0em;
}

table {
  width: 100%;
  max-width: 100%;
  font-size: 0.95em;
}

thead {
  color: white;
}

thead th {
  background-color: black;
  padding: 1em;
}

thead.hour th {
  background-color: LightSalmon;
  text-align: left;
  padding: .5em;
  font-size: .8em;
}

td {
  border-bottom:1pt solid LightSteelBlue ;
}

tr:nth-child(odd) {
  background-color: Lavender;
}

.candidate {
  position: relative;
  display: block;
  margin: 3px;
  margin-bottom: 3px;
  font-size: 10px;
}

.republican {
  display: inline-block;
  background: #dc4e45;
  border-radius: 3px;
  height: 18px;
  width: 18px;
  text-align: center;
  vertical-align: middle;

}
.republican:before {
  content: 'R';
  color: #ffffff;
  font-weight: bold;
}

.democratic {
  display: inline-block;
  background: #2a95ff;
  border-radius: 3px;
  height: 18px;
  width: 18px;
  text-align: center;
}
.democratic:before {
  content: 'D';
  color: #ffffff;
  font-weight: bold;
}
